body {
    background: url('../images/bg.webp') repeat;
    color: #ccc;
}

h1, h2 {
    text-align: center;
}

#controls1 {
    margin: 1rem auto;
    text-align: center;
}

#controls2 {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}
#controls2 input[type=number] {
    width: 5rem;
}

#canvas-div {
    margin: 1rem auto;
    text-align: center;
}

#footer {
    margin: 1rem auto;
    text-align: center;
}

#field {
    border: 5px solid #db9c3c;
    border-radius: 5px;
    background: #444b3b;
}

#debug-info {
    margin: 1rem auto;
    text-align: center;
}


#description {
    margin: 1rem auto;
    text-align: center;
}

#footer a {
    color: #fff;
}

#music {
    background: #313131;
}